<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>dashboard control</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-xxxxxx" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">

    <!--
    <link rel="stylesheet" href="styles.css">
    <link rel ="stylesheet" href="sidebar.css">
    <link rel ="stylesheet" href="header.css">
    <script src="Graficas.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
-->
    <link rel="stylesheet" href="{{ url_for('static', filename='Dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header_sidebar.css') }}">
    <script src="{{ url_for('static', filename='Graficas.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
    <header class="header">
        <!-- Menú lateral -->
        <div class="top-menu">
            <div class="Version">
                <h4>Dashboard de bienes raices</h4>
            </div>
            <div class="logo">
                <i class="fas fa-code"></i>
                <h3>DomyClip</h3>
            </div>
            <div class="icon">
                <i class="fas fa-user"></i>
                <h3>{{ session['username'] }}</h3>
            </div>
        </div>
    </header>

    <main class="main">
        <div class="circulo">
            <div class="propietarios-section">
                <!-- Contenido de la sección "Terreno" -->
                <div class="prop b1">
                    <h2>Editar Cuentas por cobrar Pendites</h2>
                    <p>podras añadir multas a los propietarios que no pudiste en la planilla</p>
                    <!-- Formulario de filtrado -->
                    <form action="/contabilidad/{{ edificio_id }}" method="get">
                        <label for="fecha_emision">Filtrar Fecha de Emisión:</label>
                        <input type="date" id="fecha_emision" name="fecha_emision">
                        <label for="user_id">Filtrar Usuario ID:</label>
                        <input type="number" id="user_id" name="user_id" placeholder="ID del usuario">
                        <button type="submit">Buscar </button>
                    </form>

                    
                    <!-- Mostrar cuentas por cobrar -->
                    {% for cuenta in cuentas_por_cobrar %}
                        <div class="">
                            <div class="texto">
                                <h2>Cuenta por cobrar: 0{{ cuenta.id_CXC }}</h2>
                                <p>Usuario ID: {{ cuenta.user_id }}</p>
                                <p>Usuario: {{ cuenta.usuario }}</p>
                                <p>Fecha de Emisión: {{ cuenta.fecha_emision }} </p>
                                <p>Fecha de Vencimiento: {{ cuenta.fecha_vencimiento }}</p>
                                <p class="estado_propietario">Estado: {{ cuenta.estado }}</p>
                                <h3>Detalles:</h3>
                                <ul>
                                    {% for detalle in cuenta.detalles %}
                                    <div class="detalle">
                                        <li>
                                            {{ detalle.tipo }},
                                            Descripción: {{ detalle.descripcion }},
                                            Monto: {{ detalle.monto }}, 
                                            Pagado: {{ detalle.pagado }},
                                            Total: {{ detalle.total }}
                                        </li>
                                        <form action="/editar_detalle_cxc" method="post">
                                            <input type="hidden" name="detalle_id" value="{{ detalle.detalle_id }}"> <!-- Asegúrate de tener un campo para el ID del detalle -->
                                            <input type="hidden" name="edificio_id" value="{{ edificio_id }}"> 
                                            <input type="text" name="descripcion" placeholder="Editar Descripción">
                                            <input type="number" name="monto" placeholder="Editar Monto">
                                            <button class="boton_edit" type="submit">Editar item</button>
                                        </form>
                                        <form action="/eliminar_detalle_cxc" method="post">
                                            <input type="hidden" name="detalle_id" value="{{ detalle.detalle_id }}"> <!-- Asegúrate de tener un campo para el ID del detalle -->
                                            <input type="hidden" name="edificio_id" value="{{ edificio_id }}"> 
                                            <button class="boton_edit" type="submit">Eliminar item</button>
                                        </form>
                                    </div>
                                {% endfor %}                                
                                </ul>
                            </div>
                        </div>                    
                        <div class="cont_boton">
                            <button class="boton">
                                <i class="fas fa-check"></i> <!-- Icono para añadir -->
                                Contabilizar
                            </button>
                            <!-- Formulario para añadir detalles -->
                            <form action="/crear_deuda" method="post">
                                <input type="hidden" name="id_CXC" value="{{ cuenta.id_CXC }}">
                                <input type="hidden" name="user_id" value="{{ cuenta.user_id }}">
                                <input type="hidden" name="estado" value="pendiente">
                                <input type="hidden" name="edificio_id" value="{{ edificio_id }}"> 
                                <input type="text" name="descripcion" placeholder="Descripción">
                                <input type="number" name="monto" placeholder="Monto">
                                <button class="boton" type="submit" name="tipo" value="MUL">Agregar Multa</button>
                                <button class="boton" type="submit" name="tipo" value="EXT">Agregar Cuota Extra</button>
                            </form>
                            <form action="/eliminar_cxc" method="post">
                                <input type="hidden" name="id_CXC" value="{{ cuenta.id_CXC }}">
                                <input type="hidden" name="user_id" value="{{ cuenta.user_id }}">
                                <input type="hidden" name="edificio_id" value="{{ edificio_id }}"> 
                                <button class="boton" type="submit">
                                    <i class="fas fa-trash"></i> <!-- Icono para eliminar -->
                                    Eliminar CXC
                                </button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
                <div class="prop b2">
                    <h2>Contabilidad</h2>
                    <p>Contenido específico para la sección "contabilidad" en estrcutura.</p>
                    <!-- Otros elementos relacionados con los sensores de humedad -->
                </div>
            </div>
        </div>
    </main>

    <section class="sidebar">
        <div class="menu">
            <a href="/estadisticas/{{ edificio_id }}" class="enlace">
                <i class="fas fa-chart-pie"></i>
                <span>Estadísticas</span>
            </a>                     
            <a href="/propietarios/{{ edificio_id }}" class="enlace">
                <i class="fas fa-home"></i>
                <span>Propietarios</span>
            </a>
            <a href="/pagos/{{ edificio_id }}" class="enlace">
                <i class="fas fa-money-check-alt"></i>
                <span>Cobros</span>
            </a>
            <a href="/contabilidad/{{ edificio_id }}" class="enlace activo">
                <i class="fas fa-book"></i>
                <span>Contabilidad</span>
            </a>
            <a href="/informes/{{ edificio_id }}" class="enlace">
                <i class="fas fa-file-alt"></i>
                <span>Informes</span>
            </a>
            <a href="/configuracion/{{ edificio_id }}" class="enlace">
                <i class="fas fa-cogs"></i>
                <span>Configuración</span>
            </a>            

            <div class="enlace" onclick="webdomotycort()">
                <i class="fas fa-globe"></i>
                <span>Nosotros</span>
            </div>
            <div class="cerrar">
                <a href="{{ url_for('logout') }}">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Cerrar Sesión</span>
                </a>
            </div>
        </div>
    </section>

    <script>
        // Función para actualizar ambas gráficas

        function webdomotycort() {
            var url = 'https://yomar009.github.io/domyclip/';
            window.open(url, '_blank');
        }
        function cambiarPestana(pestaña) {
            window.location.href = `/dashboard/${nombre_edificio}/${pestaña}`;
        }
    </script>
</body>

</html>