<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>dashboard control</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-xxxxxx" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">

    <!--
    <link rel="stylesheet" href="styles.css">
    <link rel ="stylesheet" href="sidebar.css">
    <link rel ="stylesheet" href="header.css">
    <script src="Graficas.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
-->
    <link rel="stylesheet" href="{{ url_for('static', filename='Dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header_sidebar.css') }}">
    <script src="{{ url_for('static', filename='Graficas.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
    <header class="header">
        <!-- Menú lateral -->
        <div class="top-menu">
            <div class="Version">
                <h4>Dashboard de bienes raices</h4>
            </div>
            <div class="logo">
                <i class="fas fa-code"></i>
                <h3>DomyClip</h3>
            </div>
            <div class="icon">
                <i class="fas fa-user"></i>
                <h3>{{ session['username'] }}</h3>
            </div>
        </div>
    </header>

    <main class="main">
        <div class="circulo">
            <div class="titulo">
                <h1>Crear y editar pagos planillas de {{ nombre_edificio }}</h1>
            </div>
            <div>
                <!-- Imprimir los nombres de los bancos -->
                <h2>Nombres de los bancos:</h2>
                <ul>
                    {% for banco in bancos %}
                        <li>{{ banco }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <!-- Imprimir la estructura de pago para RC -->
                <h2>Estructura de pago para RC:</h2>
                <ul>
                    {% for rc in estructura_rc %}
                        <li>{{ rc }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="prop b1">
                <h2>Plantilla de Cuentas por Cobrar</h2>
                <p>Encontraras a todos tus propietarios con valores predeterminados</p>
            </div>
            <div class="propietarios-section">
                <!-- Botones de bloque en la parte superior -->
                <div class="botones-bloque">
                    {% for bloque in bloques %}
                    <button class="bloque-btn" onclick="togglePropietarios({{ bloque }})">
                        <div class="icon-container">
                            <i class="fas fa-building"></i>
                        </div>
                        Bloque {{ bloque }}
                    </button>
                    {% endfor %}
                </div>
            </div>

            <!-- Detalles de los propietarios -->
            {% for bloque, propietarios in propietarios_por_bloque.items() %}
            <div class="bloque" id="bloque{{ bloque }}" style="display: none;">
                <div class="propietarios" id="propietarios{{ bloque }}">
                    <div class="row">
                        {% for propietario in propietarios %}
                        <div class="col-md-6">
                            <div class="prop">
                                <div class="contenido">
                                    <div class="texto">
                                        <h3>Propietario: {{ propietario[1] }} {{ propietario[2] }}</h3>
                                        <p>Usuario ID: {{ propietario[0] }}</p>
                                        <p>Apartamento: {{ propietario[3] }}</p>
                                        <p>Bloque: {{ bloque }}</p>
                                        <p class="estado_propietario">Estado: {{propietario[16]}}</p>
                                    </div>
                                    <div class="cont_boton">
                                        <button class="boton" onclick="abrirModalCrearPago('{{ propietario[0] }}', '{{ edificio_id }}')">
                                            <i class="fas fa-edit"></i> <!-- Icono de edición -->
                                            Pagar automático
                                        </button>                                            
                                        <!-- Agrega el cuenta de cobro manual -->
                                        <form action="/crear_rc_manual" method="post">
                                            <input type="hidden" name="user_id" value="{{ propietario[0] }}">
                                            <input type="hidden" name="edificio_id" value="{{ edificio_id }}"> 
                                            <button class="boton" type="submit">
                                                <i class="far fa-file"></i> <!-- Icono para contabilizar -->
                                                Crear RC Vacio
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}                            
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- Botón para buscar propietario y abrir el modal -->
            <div class="prop b2">
                <h2>Crear plantilla de Cuentas por Cobrar</h2>
                <p>Este boton creara de las cuentas por cobrar segun los valores definidos en la informacion del usuario estas cuentas quedaran por defecto en pedientes</p>
            </div>
        </div>
    </main>

    <!-- Formulario emergente para pagos -->
    <div id="crearPagoModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="cerrarModalCrearPago()">&times;</span>
            <h2>Crear Pago</h2>
            <form id="formularioCrearPago" method="POST" action="/crear_pago">
                <!-- Campos ocultos para enviar los datos necesarios -->
                <input type="hidden" id="edificio_id" name="edificio_id">
                <input type="hidden" id="user_id" name="user_id">
                <label for="fecha">Fecha:</label>
                <input type="date" id="fecha" name="fecha">                
                <label for="descripcion">Seleccione el banco:</label>
                <select id="descripcion" name="descripcion">
                    {% for banco in bancos %}
                        <option value="{{ banco }}">{{ banco }}</option>
                    {% endfor %}
                </select>
                <label for="tipopago">Tipo de Pago:</label>
                <select id="tipopago" name="tipopago">
                    <option value="transferencia">Transferencia</option>
                    <option value="efectivo">Efectivo</option>
                    <!-- Agrega más opciones según necesites -->
                </select>
                <label for="valor">Valor:</label>
                <input type="number" id="valor" name="valor">
                <input type="hidden" id="estado" name="estado" value="Pendiente">
                <button class="boton" type="submit" onclick="guardarCambios()">Crear pago</button>
            </form>
        </div>
    </div>

    <section class="sidebar">
        <div class="menu">
            <a href="/estadisticas/{{ edificio_id }}" class="enlace">
                <i class="fas fa-chart-pie"></i>
                <span>Estadísticas</span>
            </a>                     
            <a href="/propietarios/{{ edificio_id }}" class="enlace">
                <i class="fas fa-home"></i>
                <span>Propietarios</span>
            </a>
            <a href="/cobros/{{ edificio_id }}" class="enlace">
                <i class="fas fa-money-check-alt"></i>
                <span>Cobros</span>
            </a>
            <a href="/pagos/{{ edificio_id }}" class="enlace activo">
                <i class="fas fas fa-credit-card"></i>
                <span>pagos</span>
            </a>
            <a href="/pendiente/{{ edificio_id }}" class="enlace">
                <i class="fas fa-tasks"></i>
                <span>Pendiente</span>
            </a>
            <a href="/contabilizado/{{ edificio_id }}" class="enlace">
                <i class="fas fa-book"></i>
                <span>Contabilizado</span>
            </a>
            <a href="/informes/{{ edificio_id }}" class="enlace">
                <i class="fas fa-file-alt"></i>
                <span>Informes</span>
            </a>
            <a href="/configuracion/{{ edificio_id }}" class="enlace">
                <i class="fas fa-cogs"></i>
                <span>Configuración</span>
            </a>            

            <div class="enlace" onclick="webdomotycort()">
                <i class="fas fa-globe"></i>
                <span>Nosotros</span>
            </div>
            <div class="cerrar">
                <a href="{{ url_for('logout') }}">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Cerrar Sesión</span>
                </a>
            </div>
        </div>
    </section>

    <script>

        // Función para mostrar automáticamente los detalles del bloque 1 al cargar la página
        window.onload = function () {
            togglePropietarios(1);
        }

        function togglePropietarios(bloque) {
            // Ocultar los detalles de todos los bloques excepto el bloque seleccionado
            var bloques = document.querySelectorAll('.bloque');
            for (var i = 0; i < bloques.length; i++) {
                if (bloques[i].id === 'bloque' + bloque) {
                    bloques[i].style.display = 'block';
                } else {
                    bloques[i].style.display = 'none';
                }
            }
        }

        // Función para abrir el modal de crear pago
        function abrirModalCrearPago(user_id, edificio_id) {
            var modal = document.getElementById("crearPagoModal");
            // Llenar los campos del formulario con los datos pasados
            document.getElementById("edificio_id").value = edificio_id;
            document.getElementById("user_id").value = user_id;
            // Mostrar el modal
            modal.style.display = "block";
        }

        // Función para enviar el formulario de crear pago
        function guardarPago() {
            // Cerrar el modal
            cerrarModalCrearPago(); // Cerrar el modal después de guardar el pago
            // Mostrar mensaje de confirmación
            alert("Pago creado exitosamente.");
        }

        // Función para cerrar el modal de crear pago
        function cerrarModalCrearPago() {
            var modal = document.getElementById("crearPagoModal");
            modal.style.display = "none";
        }
    



        // Función para actualizar ambas gráficas

        function webdomotycort() {
            var url = 'https://yomar009.github.io/domyclip/';
            window.open(url, '_blank');
        }
        function cambiarPestana(pestaña) {
            window.location.href = `/dashboard/${nombre_edificio}/${pestaña}`;
        }
    </script>
</body>

</html>